* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 30px;
}
.flex-container  >div {
  min-height: 400px;
}
.flex-container {
  min-height: 100vh;
  background-color: #000;
  display: flex;
  /* align-items: stretch; */
  /* justify-content: space-around; */
  /* flex-wrap: wrap-reverse; */
  /* flex-direction: column-reverse; */
  /* flex-flow: row nowrap; */
  /* align-content: flex-end; */
}
.Item-One {
  background-color: #f00;
  flex-basis: 900px;

}
.Item-Two {
  background-color: #0f0;
  flex-basis: 900px;
}
.Item-Three {;
  background-color: #00f;
  flex-basis: 900px;
}
